[Desktop Entry]
Name=Linux Mint Cleaner
Comment=Clean system caches, Flatpak leftovers, and Timeshift snapshots safely
Exec=/usr/bin/mint-cleaner
Icon=/usr/share/icons/hicolor/scalable/apps/system-cleaner.svg
Terminal=false
Type=Application
Categories=System;Utility;

Name[en_AU]=mint-cleaner
